<h1>Listing jobs</h1>

<table>
  <tr>
    <th>F</th>
    <th>N</th>
    <th>O</th>
    <th>Age</th>
    <th>Typedl</th>
    <th>Experiencedriver</th>
    <th>Statusjobs</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.F %></td>
    <td><%= job.N %></td>
    <td><%= job.O %></td>
    <td><%= job.Age %></td>
    <td><%= job.typeDL %></td>
    <td><%= job.ExperienceDriver %></td>
    <td><%= job.statusJobs %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
