<p id="notice"><%= notice %></p>

<p>
  <b>F:</b>
  <%= @job.F %>
</p>

<p>
  <b>N:</b>
  <%= @job.N %>
</p>

<p>
  <b>O:</b>
  <%= @job.O %>
</p>

<p>
  <b>Age:</b>
  <%= @job.Age %>
</p>

<p>
  <b>Typedl:</b>
  <%= @job.typeDL %>
</p>

<p>
  <b>Experiencedriver:</b>
  <%= @job.ExperienceDriver %>
</p>

<p>
  <b>Statusjobs:</b>
  <%= @job.statusJobs %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
