<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ID_client %><br />
    <%= f.number_field :ID_client %>
  </div>
  <div class="field">
    <%= f.label :ID_auto %><br />
    <%= f.number_field :ID_auto %>
  </div>
  <div class="field">
    <%= f.label :Price %><br />
    <%= f.text_field :Price %>
  </div>
  <div class="field">
    <%= f.label :Time %><br />
    <%= f.text_field :Time %>
  </div>
  <div class="field">
    <%= f.label :Year %><br />
    <%= f.text_field :Year %>
  </div>
  <div class="field">
    <%= f.label :Month %><br />
    <%= f.text_field :Month %>
  </div>
  <div class="field">
    <%= f.label :Day %><br />
    <%= f.text_field :Day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
