<h1>Listing documents</h1>

<table>
  <tr>
    <th>Id client</th>
    <th>Id auto</th>
    <th>Price</th>
    <th>Time</th>
    <th>Year</th>
    <th>Month</th>
    <th>Day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= document.ID_client %></td>
    <td><%= document.ID_auto %></td>
    <td><%= document.Price %></td>
    <td><%= document.Time %></td>
    <td><%= document.Year %></td>
    <td><%= document.Month %></td>
    <td><%= document.Day %></td>
    <td><%= link_to 'Show', document %></td>
    <td><%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Destroy', document, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Document', new_document_path %>
