<h1>Listing drivers</h1>

<table>
  <tr>
    <th>F</th>
    <th>I</th>
    <th>O</th>
    <th>Nomberdl</th>
    <th>Experiencedriver</th>
    <th>Typedl</th>
    <th>Age</th>
    <th>Experience</th>
    <th>TimeWorkDay</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drivers.each do |driver| %>
  <tr>
    <td><%= driver.F %></td>
    <td><%= driver.N %></td>
    <td><%= driver.O %></td>
    <td><%= driver.NomberDL %></td>
    <td><%= driver.ExperienceDriver %></td>
    <td><%= driver.typeDL %></td>
    <td><%= driver.Age %></td>
    <td><%= driver.Experience %></td>
    <td><%= driver.TimeWorkDay %></td>
    <td><%= link_to 'Show', driver %></td>
    <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
    <td><%= link_to 'Destroy', driver, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Driver', new_driver_path %>
