<p id="notice"><%= notice %></p>

<p>
  <b>F:</b>
  <%= @driver.F %>
</p>

<p>
  <b>I:</b>
  <%= @driver.I %>
</p>

<p>
  <b>O:</b>
  <%= @driver.O %>
</p>

<p>
  <b>Nomberdl:</b>
  <%= @driver.NomberDL %>
</p>

<p>
  <b>Experiencedriver:</b>
  <%= @driver.ExperienceDriver %>
</p>

<p>
  <b>Typedl:</b>
  <%= @driver.typeDL %>
</p>

<p>
  <b>Age:</b>
  <%= @driver.Age %>
</p>

<p>
  <b>Experience:</b>
  <%= @driver.Experience %>
</p>


<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
